<ion-content>
  <ion-list>
    <ion-list-header>
      <ion-label>{{ listHeader }}</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-text>
        <h6>First Info Item</h6>
      </ion-text>
    </ion-item>
    <ion-item>
      <ion-text>
        <h6>Second Info Item</h6>
      </ion-text>
    </ion-item>
    <ion-item>
      <ion-text>
        <h6>Third Info Item</h6>
      </ion-text>
    </ion-item>
    <ion-item>
      <ion-text>
        <h6>Fourth Info Item</h6>
      </ion-text>
    </ion-item>
    <ion-item>
      <ion-text>
        <h6>Fifth Info Item</h6>
      </ion-text>
    </ion-item>
  </ion-list>
</ion-content>
